<!-- Footer Start -->
<div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
  <div
    class="container py-5 border-start-0 border-end-0"
    style="border: 1px solid; border-color: rgb(255, 255, 255, 0.08);"
  >
    <div class="row g-5">
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="footer-item">
          <a href="" class="p-0">
            <h4 class="text-white">
              <i class="fas fa-search-dollar me-3"></i>Prices Capital
            </h4>
          </a>
          <p class="mb-4">
            Dolor amet sit justo amet elitr clita ipsum elitr est. Lorem
            ipsum dolor sit amet, consectetur adipiscing...
          </p>
          <div class="d-flex">
            <a
              href="#"
              class="bg-primary d-flex rounded align-items-center py-2 px-3 me-2"
            >
              <i class="fas fa-apple-alt text-white"></i>
              <div class="ms-3">
                <small class="text-white">Téléchargez sur</small>
                <h6 class="text-white">App Store</h6>
              </div>
            </a>
            <a
              href="#"
              class="bg-dark d-flex rounded align-items-center py-2 px-3 ms-2"
            >
              <i class="fas fa-play text-primary"></i>
              <div class="ms-3">
                <small class="text-white">Disponible sur</small>
                <h6 class="text-white">Google Play</h6>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-2">
        <div class="footer-item">
          <h4 class="text-white mb-4">Liens rapides</h4>
          <a href="#"><i class="fas fa-angle-right me-2"></i> Soumission</a>
          <a href="#"><i class="fas fa-angle-right me-2"></i> Blog</a>
          <a href="#"><i class="fas fa-angle-right me-2"></i> Contactez-nous</a>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="footer-item">
          <h4 class="text-white mb-4">Support</h4>
          <a href="#"><i class="fas fa-angle-right me-2"></i> Politique de confidentialité</a>
          <a href="#"><i class="fas fa-angle-right me-2"></i> Support</a>
          <a href="#"><i class="fas fa-angle-right me-2"></i> FAQ</a>
          <a href="#"><i class="fas fa-angle-right me-2"></i> Aide</a>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="footer-item">
          <h4 class="text-white mb-4">Devenir Investisseur</h4>
          <p class="text-white mb-4">
            Rejoignez-nous et investissez dans des projets prometteurs.
          </p>
          <!-- Ajout du bouton "Devenir investisseur" -->
          <a href="{% url 'investor:become-investor' %}" class="btn btn-primary text-white">Devenir Investisseur</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->