{% load static %}

<div class="container-fluid overflow-hidden px-0">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel" style="height: 70%;">
        <ol class="carousel-indicators fadeInUp animate__animated" data-animation="fadeInUp" data-delay="1s" style="animation-delay: 1s;">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="{% static 'img/carousel1.jpg' %}" class="img-fluid w-100" alt="First slide"/>
                <div class="carousel-caption">
                    <h1 class="display-1 text-capitalize text-white mb-4 fadeInUp animate__animated" data-animation="fadeInUp" data-delay="1.3s" style="animation-delay: 1.3s;">
                        Investissez avec confiance dans des projets rentables.
                    </h1>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/carousel2.jpg' %}" class="img-fluid w-100" alt="Second slide"/>
                <div class="carousel-caption">
                    <h1 class="display-1 text-capitalize text-white mb-4 fadeInUp animate__animated" data-animation="fadeInUp" data-delay="1.3s" style="animation-delay: 1.3s;">
                        Trouvez des investissements stratégiques et durables.
                    </h1>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/carousel3.jpg' %}" class="img-fluid w-100" alt="Third slide"/>
                <div class="carousel-caption">
                    <h1 class="display-1 text-capitalize text-white mb-4 fadeInUp animate__animated" data-animation="fadeInUp" data-delay="1.3s" style="animation-delay: 1.3s;">
                        Des experts pour vous accompagner tout au long de votre projet.
                    </h1>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon btn-lg-square fadeInLeft animate__animated" aria-hidden="true" data-animation="fadeInLeft" data-delay="1.1s" style="animation-delay: 1.3s;">
                <i class="fas fa-chevron-left fa-2x"></i>
            </span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon btn-lg-square fadeInRight animate__animated" aria-hidden="true" data-animation="fadeInRight" data-delay="1.1s" style="animation-delay: 1.3s;">
                <i class="fas fa-chevron-right fa-2x"></i>
            </span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
