{% extends "app/base.html" %}

{% block content %}
<div class="container my-5">
    <h2 class="text-primary">Formulaire d'investissement</h2>
    
    <form method="post">
        {% csrf_token %}

        <!-- Section Investisseur et Projet -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.investor.label_tag }}
                    {{ form.investor }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.project.label_tag }}
                    {{ form.project }}
                </div>
            </div>
        </div>

        <!-- Section Montant et Devise -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.amount.label_tag }}
                    {{ form.amount }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.currency.label_tag }}
                    {{ form.currency }}
                </div>
            </div>
        </div>

        <!-- Section Anonymat -->
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{ form.anonymity.label_tag }}
                    {{ form.anonymity }}
                </div>
            </div>
        </div>

        <!-- Section Gains attendus -->
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{ form.expected_gains.label_tag }}
                    {{ form.expected_gains }}
                </div>
            </div>
        </div>

        <!-- Bouton de soumission -->
        <div class="form-group mt-4 text-center">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>
</div>
{% endblock %}