{% extends 'app/base.html' %}

{% block title %}
  Connexion
{% endblock %}
{% block style %}
    <style>
        body{
          background-color:rgb(44, 48, 52);
        }
    </style>
{% endblock style %}
{% block hero %}

{% endblock %}



{% block messages %}
  
{% endblock messages %}
  
  
{% block content %}
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container p-4" style="max-width: 500px; background-color: #f8f9fa; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);">
      <h2 class="text-center mb-4">Connexion</h2>

     

      <form method="post" action="{% url 'auth:login' %}">
        {% csrf_token %}
        {% if messages %}
        <div class="container mt-2">
          <div class="row">
              <div class="col-12">
                  {% for message in messages %}
                      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                          {{ message }}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      {% endfor %}
                    </div>
          </div>
        </div>
        {% endif %}
        
       

        <div class="mb-3">{{ form.email.label_tag }}
          {{ form.email }}
          {{ form.email.errors }}</div>

        <div class="mb-3">{{ form.password.label_tag }}
          {{ form.password }}
          {{ form.password.errors }}</div>
          
        <button type="submit" class="btn btn-primary text-center" >Se connecter</button>

      </form>
      <a href="{% url 'auth:register'%}" class="link m-3">Je n'ai pas de compte</a>
      <a href="#" class="link m-3">Mot de passe oublié</a>
    </div>
  </div>
{% endblock %}

{% block footer %}
  
{% endblock footer %}
  
