<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceptation de projet</title>
</head>
<body>
    <h2>Bonjour {{ Nom }},</h2>
    <p>Nous avons le plaisir de vous informer que votre projet, intitulé <strong>{{ Titre }}</strong>, a été accepté.</p>

    <p>Nos équipes vous contacteront prochainement pour discuter des étapes suivantes et organiser la mise en œuvre. Nous restons disponibles pour toute question.</p>

    <p>Félicitations encore pour cette belle réussite !</p>

    <p>Merci,<br>Price Capital</p>
</body>
</html>
