<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publication du projet</title>
</head>
<body>
    <h2>Bonjour Cher-e client-e,</h2>
    <p>Ce mail vous est parvenu de <strong>Price Capital</strong>.</p>
    <p> :</p>

    <p>
         Nous avons le plaisir de vous annoncé que votre projet a été publié sur la plateforme <b>Prices Capital</b>
         le cabinet prendra le soins de le reformuler en mettant l'accent sur les points essentiels qui attirent les investisseurs.
         L'équipe rentrera en contact avec vous.
        
    </p>

    <p>Restez connecté</p>

    <p>Merci,<br>Prices Capital</p>
</body>
</html>