<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reformulation du projet terminée</title>
</head>
<body>
    <h2>Bonjour Cher-e client-e,</h2>
    <p>Ce mail vous est parvenu de <strong>Price Capital</strong>.</p>
    <p> :</p>

    <p>
        Nous vous informons que le cabinet à terminé la reformulation de votre projet. il sera poster sur la plateforme dans pas longtemps.#
    
        
    </p>
    <p>Restez connecté</p>
    <p>Merci,<br>Prices Capital</p>
</body>
</html>