<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejet de projet</title>
</head>
<body>
    <h2>Bonjour {{ Nom }},</h2>
    <p>Nous avons le regret de vous informer que votre projet, intitulé <strong>{{ Titre_du_projet }}</strong>, n’a pas été retenu.</p>
    
    {% if raison %}
        <p>Cette décision repose sur la raison suivante : <strong>{{ raison }}</strong>.</p>
    {% else %}
        <p>Malheureusement, nous ne pouvons pas donner de raison spécifique pour cette décision.</p>
    {% endif %}
    
    <p>Nous vous remercions pour votre investissement et restons à votre disposition pour échanger si besoin.</p>

    <p>Merci,<br>Price Capital</p>
</body>
</html>
