<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soumission de projet Réussie</title>
</head>
<body>
    <h2>Bonjour Cher-e client-e,</h2>
    <p>Ce mail vous est parvenu de <strong>Price Capital</strong>.</p>
    <p> :</p>

    <p>
          Vous avez soumis un projet sur la plateforme de Prices Capital, nous vous informons que nous l'avons très bien reçu, et qu'il est dans les mains de notre équipe d'analyse et de reformulairation.
         Cette equipe est chargée d'analyser votre projet et de le reformuler selon certaines normes avant qu'il ne soit present sur la plateforme, ce qui fait que vous ne le verrai pas tout de suite.#
         Mais rester connecter et vérifier souvent votre boite mail, parce que nous vous tiendrons au courant à chaque étape franchie.
         pour un départ, nous analyserons le projet et vous saurez s'il doit etre reformuler ou rejeter.
        Restez donc connecté
        </a>
    </p>

    <p>Si ce mail vous est parvenu par erreur, veuillez tout simplement l'ignorer.</p>
    <p>Merci,<br>Prices Capital</p>
</body>
</html>
