<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accusé de réception – Projet soumis</title>
</head>
<body>
    <h2>Bonjour {{ Nom }},</h2>
    <p>Ce mail vous est parvenu de <strong>Prices Capital</strong>.</p>

    <p>
        Nous confirmons la bonne réception de votre projet intitulé <strong>{{ Titre_du_projet }}</strong>. Celui-ci est désormais en cours de traitement par nos équipes. 
    </p>

    <p>
        Nous vous tiendrons informé de l’évolution de son analyse. Aucune action supplémentaire n’est requise de votre part pour le moment.
    </p>

    <p>Si ce mail vous est parvenu par erreur, veuillez tout simplement l'ignorer.</p>
    
    <p>Merci,<br>Prices Capital</p>
</body>
</html>
