{% extends 'app/project/salon.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white text-center">
            <h4>Reformuler le Projet - {{ project.title }}</h4>
        </div>
        <div class="card-body">
            <!-- Onglets pour basculer entre les détails initiaux et le formulaire -->
            <ul class="nav nav-tabs mb-4" id="projectTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="reformulate-tab" data-bs-toggle="tab"
                        data-bs-target="#reformulate" type="button" role="tab" aria-controls="reformulate"
                        aria-selected="true">Reformulation</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="initial-tab" data-bs-toggle="tab" data-bs-target="#initial"
                        type="button" role="tab" aria-controls="initial" aria-selected="false">Détails Initiaux</button>
                </li>
            </ul>

            <div class="tab-content" id="projectTabContent">
                <!-- Formulaire de Reformulation -->
                <div class="tab-pane fade show active" id="reformulate" role="tabpanel" aria-labelledby="reformulate-tab">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h5 class="text-secondary mb-3">Informations du Projet</h5>
                        <div class="row">
                            <div class="col-md-12 mb-3">{{ form.title.label_tag }} {{ form.title }}</div>
                            <!-- <div class="col-md-12 mb-3">{{ form.category.label_tag }} {{ form.category }}</div> -->

                            <div class="col-md-12 mb-3">
                                <label for="category" class="form-label">{{ form.category.label }}</label>
                                <div class="input-group">
                                    {{ form.category }}
                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
                                        +
                                    </button>
                                </div>
                            </div>
                            
                            
                            <div class="col-md-12 mb-3">{{ form.goal.label_tag }} {{ form.goal }}</div>
                            <div class="col-md-12 mb-3">{{ form.currency.label_tag }} {{ form.currency }}</div>
                            <div class="col-md-12 mb-3">{{ form.location.label_tag }} {{ form.location }}</div>
                            <div class="col-md-12 mb-3">{{ form.context.label_tag }} {{ form.context }}</div>
                            <div class="col-md-12 mb-3">{{ form.summary.label_tag }} {{ form.summary }}</div>
                            <div class="col-md-12 mb-3">{{ form.problem_statement.label_tag }} {{ form.problem_statement }}</div>
                        </div>

                        <h5 class="text-secondary mt-4 mb-3">Objectifs et Livrables</h5>
                        <div class="row">
                            <div class="col-md-12 mb-3">{{ form.general_objective.label_tag }} {{ form.general_objective }}</div>
                            <div class="col-md-12 mb-3">{{ form.specific_objectives.label_tag }} {{ form.specific_objectives }}</div>
                            <div class="col-md-12 mb-3">{{ form.deliverables.label_tag }} {{ form.deliverables }}</div>
                        </div>

                        <h5 class="text-secondary mt-4 mb-3">Autres Informations</h5>
                        <div class="row">
                            <div class="col-md-12 mb-3">{{ form.target_audience.label_tag }} {{ form.target_audience }}</div>
                            <div class="col-md-12 mb-3">{{ form.key_partners.label_tag }} {{ form.key_partners }}</div>
                            <div class="col-md-12 mb-3">{{ form.additional_details.label_tag }} {{ form.additional_details }}</div>
                            <div class="form-group text-center mb-3">
                                <label for="photo">Photo</label>
                                {% if form.image.value %}
                                <div class="mt-2">
                                    <img src="{{ form.image.value.url }}" alt="Photo de couverture du projet"
                                        class="img-thumbnail" style="width: 150px; height: auto;">
                                </div>
                                {% else %}
                                <p class="text-muted">Aucune photo disponible</p>
                                {% endif %}
                                {{ form.image }}
                            </div>
                        </div>

                        <h5 class="text-secondary mt-4 mb-3">Documents</h5>
                        <div class="row">
                            <div class="col-md-12 mb-3">{{ form.documents.label_tag }} {{ form.documents }}</div>
                        </div>

                        <div class="row">
                            <button type="submit" class="btn btn-success col">Enregistrer</button>
                        </div>
                    </form>
                </div>

                <!-- Détails Initiaux -->
                <div class="tab-pane fade" id="initial" role="tabpanel" aria-labelledby="initial-tab">
                    <h5 class="text-secondary mb-3">À propos du projet</h5>
                    <p><strong>Titre :</strong> {{ project.title }}</p>
                    <p><strong>Catégorie :</strong> {{ project.category.name }}</p>
                    <p><strong>Budget :</strong> {{ project.goal|floatformat:2 }} {{ project.currency }}</p>
                    <p><strong>Localisation :</strong> {{ project.location }}</p>

                    <h5 class="text-secondary mt-4 mb-3">À propos du porteur</h5>
                    <p><strong>Prénom :</strong> {{ project.owner.first_name }}</p>
                    <p><strong>Nom :</strong> {{ project.owner.last_name }}</p>
                    <p><strong>Téléphone :</strong> {{ project.owner.phone }}</p>
                    <p><strong>Adresse :</strong> {{ project.owner.adress }}</p>
                    <p><strong>Date de naissance :</strong> {{ project.owner.birthday|date }}</p>

                    <h5 class="text-secondary mt-4 mb-3">Pièces Jointes</h5>
                    <div>
                        {% if project.presentation_document %}
                        <a href="{{ project.presentation_document.url }}" class="btn btn-primary btn-sm mb-2" target="_blank">
                            <i class="fas fa-file-pdf"></i> Document de présentation
                        </a>
                        {% endif %}
                        {% if project.business_plan %}
                        <a href="{{ project.business_plan.url }}" class="btn btn-primary btn-sm" target="_blank">
                            <i class="fas fa-file-pdf"></i> Business Plan
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal pour ajouter une catégorie -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategoryModalLabel">Ajouter une Catégorie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>-
            <div class="modal-body">
                <form id="addCategoryForm" method="post" action="{% url 'add_category' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="categoryName" class="form-label">Nom de la Catégorie</label>
                        <input type="text" class="form-control" id="categoryName" name="name" placeholder="Entrez une catégorie" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" form="addCategoryForm" class="btn btn-primary">Ajouter</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

