{% extends 'app/base.html' %}
{% load static %}
{% block title %}
Soumettre un Projet
{% endblock %}

{% block hero %}
<div class="container-fluid position-relative p-0">
    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Soumettez Votre Projet et
                laissez-nous faire</h4>
            <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
                <li class="breadcrumb-item"><a href="#">Projets</a></li>
                <li class="breadcrumb-item active text-primary">Soumission</li>
            </ol>
        </div>
    </div>
    <!-- Header End -->
</div>
{% endblock hero %}

{% block content %}
<style>
    .border-danger {
        border: 2px solid #dc3545 !important;
        border-radius: 5px;
        padding: 10px;
    }
    .help-text {
        font-size: 0.9em;
        color: #6c757d; /* Couleur grise pour le texte d'aide */
        margin-top: 5px;
    }
    .hidden {
        display: none; /* Masque le formulaire par défaut */
    }
    .step {
        display: none; /* Masque toutes les étapes par défaut */
    }
    .step.active {
        display: block; /* Affiche l'étape active */
    }
</style>

<div class="container py-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4 class="text-center text-white">Soumettre un Projet</h4>
        </div>
        <div class="card-body">
            <!-- Barre de progression -->
            <div class="progress mb-4">
                <div id="progress-bar" class="progress-bar bg-success" role="progressbar" style="width: 33%;"
                    aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">1/3</div>
            </div>

            <form id="multi-step-form" method="post" enctype="multipart/form-data"
                action="{% url 'project-submision' %}">
                {% csrf_token %}
                <div id="form-errors" class="alert alert-danger d-none" role="alert"></div>

                <!-- Étape 1: Informations du projet -->
                <div class="step active" id="step-1">
                    <h5 class="text-primary">1. Informations du projet</h5>
                    <div class="mb-3">
                        {{ form_project.title.label_tag }}
                        {{ form_project.title }}
                        {% if form_project.title.help_text %}
                            <div class="help-text">{{ form_project.title.help_text }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_project.category.label_tag }}
                        {{ form_project.category }}
                        {% if form_project.category.help_text %}
                            <div class="help-text">{{ form_project.category.help_text }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_project.project_type.label_tag }}
                        <select id="id_project_type" name="project_type" class="form-select">
                            {% for value, label in form_project.project_type.field.choices %}
                                <option value="{{ value }}" data-name="{{ label }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                        {% if form_project.project_type.help_text %}
                            <div class="help-text">{{ form_project.project_type.help_text }}</div>
                        {% endif %}
                    </div>

                    <!-- Formulaire ProductInfo pour ACHAT ANTICIPE -->
                    <div id="product-info-form" class="hidden border border-secondary p-5">
                        <h5 class="text-primary">Informations sur le produit</h5>
                        <div class="mb-3">
                            {{ form_product.product_name.label_tag }}
                            {{ form_product.product_name }}
                        </div>
                        <div class="mb-3">
                            {{ form_product.product_description.label_tag }}
                            {{ form_product.product_description }}
                        </div>
                        <div class="mb-3">
                            {{ form_product.delivery_date.label_tag }}
                            {{ form_product.delivery_date }}
                        </div>
                        <div class="mb-3">
                            {{ form_product.quantity_available.label_tag }}
                            {{ form_product.quantity_available }}
                        </div>

                        <div class="mb-3">
                            {{ form_product.product_unity.label_tag }}
                            {{ form_product.product_unity }}
                        </div>

                        <div class="mb-3">
                            {{ form_product.unit_price.label_tag }}
                            {{ form_product.unit_price }}
                        </div>
                        <div class="mb-3">
                            {{ form_product.media.label_tag }}
                            {{ form_product.media }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_project.goal.label_tag }}
                        {{ form_project.goal }}
                        {% if form_project.goal.help_text %}
                            <div class="help-text">{{ form_project.goal.help_text }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_project.currency.label_tag }}
                        {{ form_project.currency }}
                        {% if form_project.currency.help_text %}
                            <div class="help-text">{{ form_project.currency.help_text }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_project.location.label_tag }}
                        {{ form_project.location }}
                        {% if form_project.location.help_text %}
                            <div class="help-text">{{ form_project.location.help_text }}</div>
                        {% endif %}
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-primary next-step">Suivant</button>
                    </div>
                </div>

                <!-- Étape 2: Description du projet -->
                <div class="step" id="step-2">
                    <h5 class="text-primary">2. Description du projet</h5>
                    <div class="mb-3">
                        {{ form_project.description.label_tag }}
                        {{ form_project.description }}
                        {% if form_project.description.help_text %}
                            <div class="help-text">{{ form_project.description.help_text }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_project.image.label_tag }}
                        {{ form_project.image }}
                        {% if form_project.image.help_text %}
                            <div class="help-text">{{ form_project.image.help_text }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_project.presentation_document.label_tag }}
                        {{ form_project.presentation_document }}
                        {% if form_project.presentation_document.help_text %}
                            <div class="help-text">{{ form_project.presentation_document.help_text }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_project.business_plan.label_tag }}
                        {{ form_project.business_plan }}
                        {% if form_project.business_plan.help_text %}
                            <div class="help-text">{{ form_project.business_plan.help_text }}</div>
                        {% endif %}
                    </div>

                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary prev-step">Précédent</button>
                        <button type="button" class="btn btn-primary next-step">Suivant</button>
                    </div>
                </div>

                <!-- Étape 3: Porteur du projet -->
                <div class="step" id="step-3">
                    <h5 class="text-primary">3. Porteur du projet</h5>

                    <!-- Utilisation du form_owner pour les champs du porteur de projet -->
                    <div class="mb-3">
                        {{ form_owner.first_name.label_tag }}
                        {{ form_owner.first_name }}
                        {% if form_owner.first_name.help_text %}
                            <div class="help-text">{{ form_owner.first_name.help_text }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_owner.last_name.label_tag }}
                        {{ form_owner.last_name }}
                        {% if form_owner.last_name.help_text %}
                            <div class="help-text">{{ form_owner.last_name.help_text }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_owner.phone.label_tag }}
                        {{ form_owner.phone }}
                        {% if form_owner.phone.help_text %}
                            <div class="help-text">{{ form_owner.phone.help_text }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_owner.adress.label_tag }}
                        {{ form_owner.adress }}
                        {% if form_owner.adress.help_text %}
                            <div class="help-text">{{ form_owner.adress.help_text }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_owner.birthday.label_tag }}
                        {{ form_owner.birthday }}
                        {% if form_owner.birthday.help_text %}
                            <div class="help-text">{{ form_owner.birthday.help_text }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_owner.photo.label_tag }}
                        {{ form_owner.photo }}
                        {% if form_owner.photo.help_text %}
                            <div class="help-text">{{ form_owner.photo.help_text }}</div>
                        {% endif %}

                        {% if user.physical_person.photo %}
                        <img src="{{ user.physical_person.photo.url }}" alt="Photo de l'utilisateur"
                            class="img-thumbnail mb-2" style="width: 150px; height: auto;">
                        {% elif user.moral_person.logo %}
                        <img src="{{ user.moral_person.logo.url }}" alt="Logo de l'entreprise"
                            class="img-thumbnail mb-2" style="width: 150px; height: auto;">
                        {% endif %}
                    </div>

                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary prev-step">Précédent</button>
                        <button type="submit" id="submit-button" class="btn btn-primary">Soumettre</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        let currentStep = 1;
        const totalSteps = 3;

        // Fonction pour afficher ou masquer le formulaire ProductInfo
        function toggleProductInfoForm() {
            const selectedOption = $("#id_project_type option:selected");
            const projectTypeName = selectedOption.data("name"); // Récupère le nom du type de projet
            console.log("Nom du type de projet :", projectTypeName); // Pour déboguer

            if (projectTypeName === "ACHAT ANTICIPE") { // Utilisez la valeur exacte affichée dans le terminal
                console.log("Affichage du formulaire ProductInfoForm"); // Pour déboguer
                $("#product-info-form").removeClass("hidden");
            } else {
                console.log("Masquage du formulaire ProductInfoForm"); // Pour déboguer
                $("#product-info-form").addClass("hidden");
            }
        }

        // Fonction pour passer à l'étape suivante
        function goToNextStep() {
            if (currentStep < totalSteps) {
                $(`#step-${currentStep}`).removeClass("active");
                currentStep++;
                $(`#step-${currentStep}`).addClass("active");
                updateProgressBar(currentStep);
            }
        }

        // Fonction pour revenir à l'étape précédente
        function goToPreviousStep() {
            if (currentStep > 1) {
                $(`#step-${currentStep}`).removeClass("active");
                currentStep--;
                $(`#step-${currentStep}`).addClass("active");
                updateProgressBar(currentStep);
            }
        }

        // Fonction pour mettre à jour la barre de progression
        function updateProgressBar(step) {
            const percentage = (step / totalSteps) * 100;
            $("#progress-bar").css("width", `${percentage}%`).text(`${step}/${totalSteps}`);
        }

        // Écouter les changements sur le champ project_type
        $("#id_project_type").change(toggleProductInfoForm);

        // Écouter les clics sur le bouton Suivant
        $(".next-step").click(function () {
            goToNextStep();
        });

        // Écouter les clics sur le bouton Précédent
        $(".prev-step").click(function () {
            goToPreviousStep();
        });

        // Appeler la fonction au chargement de la page pour initialiser l'état
        toggleProductInfoForm();
    });
</script>
{% endblock script %}